.header {
  background-color: #f8f9fa;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  width: 100%; 
  z-index: 1000; 
  transition: background-color 0.3s ease, opacity 0.3s ease; 
}

.header.transparent {
  background-color: rgba(248, 249, 250, 0.9); 
  opacity: 0.99;
}

.headerContent {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.searchContainer {
  margin-right: 60px;
}

.userContainer {
  margin-right: 30px;
  position: relative;
}

.userIcon {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.userIcon:hover {
  transform: scale(1.2);
}

.userContainer div {
  display: flex;
  font-size: 14px; 
}

.HeaderText {
  gap: 15px;
}
.HeaderTextItem {
  display: block;
  padding: 6px;
  text-align: center;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.HeaderTextSignUpItem {
  display: block;
  padding: 6px;
  text-align: center;
  color: gray;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-weight: bold;
}

.HeaderTextItem:hover {
   color: black;
}

.HeaderTextSignUpItem:hover {
   background-color: lightgray;
   border: 1px solid gray;
   color: black;
}

.modalContent {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  width: 300px;  
  height: 550px; 
  margin: auto;
  z-index: 10000;
}

.searchPasswordModal {
  height: 400px; 
}

.loginModal {
  height: 400px;
}

.updateModal {
  height: 400px;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}


/* 드롭다운 css */
.userIconContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 35px; 
  right: 0;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  width: 180px;
  z-index: 1001; 
  display: flex;
  flex-direction: column; 
}

.dropdownItem {
  padding: 12px;
  text-align: left; 
  font-size: 14px;
  font-weight: 600;
  color: gray;
  display: flex;
  align-items: center; 
}

.dropdownItem2 {
  padding: 12px;
  text-align: left; 
  font-size: 14px;
  font-weight: 600;
  color: black;
  display: flex;
  align-items: center; 
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  color: #333;
}

.HeaderDivider {
  margin: 0; 
  border: none;
  border-top: 1px solid lightgray;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}