.modalLogo {
  margin-bottom: 20px;
}

.signinForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signinh2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
  margin-right: 15px;
}

.inputField input {
  width: 100%;
  height: 20px;
  padding: 10px;
  font-size: 12px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.forgotPassword {
  margin-top: 20px;
}

.forgotPassword a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

.signupPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signupPrompt span {
  margin-right: 5px;
  font-size: 14px;
}


.signupLink {
  font-size: 14px;
  color: #007bff;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.signupLink:hover {
  text-decoration: underline;
}

.modalButton {
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.modalButton:hover {
  background-color: #0056b3;
}

